{{ define "allStaff" }}
<div class="w-full relative overflow-x-auto shadow-md sm:rounded-lg">
	<table class="w-full text-sm text-center text-gray-400">
		<thead class="text-xs uppercase bg-gray-700 text-gray-400">
			<tr>
				<th>Name</th>
				<th>Current Shifts</th>
				<th>Ideal Shifts</th>
				<th>Profile</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Staff }}
			{{if not .IsTrial }}
			<tr class="odd:bg-gray-900 even:bg-gray-800 border-gray-700">
				{{if not (eq .NickName "") }}
				<td>{{ .NickName }}</td>
				{{else}}
				<td>{{ .FirstName }}</td>
				{{end}}
				<td>{{ index $.StaffShiftCount .ID }}</td>
				<td>{{ .IdealShifts }}</td>
				<td>
					<button type="button"
						class="buttonStyle"
						hx-get="/getStaffProfileModal?editStaffId={{ .ID }}"
						hx-swap="innerHTML"
						hx-on="htmx:afterSwap: initFlowbite()"
						hx-target="#staff-profile-modal-container">
						View Profile
					</button>
				</td>
			</tr>
			{{end}}
			{{ end }}
		</tbody>
	</table>
</div>
{{ end }}
