select {
	width: 100%; /* Make the select fill the full width of the td */
	height: 100%; /* To make the select fill the height, ensure there is a specific height set on the td or table */
	box-sizing: border-box; /* Ensures padding and border are included in the width and height */
}

div input[type="text"] {
	width: 80%;
	box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.roster-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dayCol, .timeCol, .staffCol, .flagCol {
	min-width: 0; /* This helps in preventing overflow and ensuring flex-shrink works */
	max-width: 100%; /* Ensures columns don't grow beyond their parent's size */
}

.day {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	width: 100%;
	display: flex;
	justify-content: center;
	border-right: 1px solid black;
}

.dayCol {
	flex: 4;
}

.timeCol {
	flex: 2;
}

.staffCol {
	flex: 3;
}

.flagCol {
	flex: 1;
}

.row > div {
	border-left: 1px solid black;
	border-top: 1px solid black;
}

.day:last-child {
	border-bottom: 1px solid black;
}

