{{ define "approveTimesheets" }}
{{ $staffMember := .StaffMember }}
{{ $startDate := .StartDate }}
{{ $staffTimesheets := .StaffTimesheets }}
{{ $staffStringMap := .StaffStringMap }}
{{ $hideApproved := .HideApproved }}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <base href="/">
    <title>Retreat Roster</title>
    <link rel="stylesheet" href="app.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  </head>
  <body id="approveTimesheets" class="timesheetBody">
    {{ template "header" (MakeHeaderStruct $staffMember.IsAdmin .RosterLive) }}
    <div class="timesheet">
      <div>
        <button hx-post='/shiftTimesheetWindow' hx-ext='json-enc' hx-vals='js:{"action":"-", "adminView":true}' hx-swap='outerHTML' hx-target='#approveTimesheets'>-</button>
        <button hx-post='/shiftTimesheetWindow' hx-ext='json-enc' hx-vals='js:{"action":"0", "adminView":true}' hx-swap='outerHTML' hx-target='#approveTimesheets'>This Week</button>
        <button hx-post='/shiftTimesheetWindow' hx-ext='json-enc' hx-vals='js:{"action":"+", "adminView":true}' hx-swap='outerHTML' hx-target='#approveTimesheets'>+</button>
      </div>
      <div class="buttons" id="filters">
        <label>
          <input type="checkbox" {{ if .HideApproved }}checked{{ end }}
            hx-get="/toggleHideApproved"
            hx-target="#approveTimesheets"
            hx-trigger="change"
            hx-swap='outerHTML'>
            Hide approved
        </label>
      </div>
      <div class="week-form">
        <div class="timesheetDay day-header">
          <div>Shift Start</div>
          <div>Shift Stop</div>
          <div>Break?</div>
          <div>Break Start</div>
          <div>Break Stop</div>
          <div>Break Length</div>
          <div>Total</div>
          <div>Managing</div>
          <div>Admin</div>
          <div>Delete</div>
        </div>
        {{ range $idx, $dayName := .DayNames }}
          <div>
            <h2>{{$dayName}}</h2>
            {{ range $staffID, $week := $staffTimesheets }}
              {{ $day := index $week.Days $idx }}
              {{ range $day.Entries }}
                {{ if .Complete}}
                  {{ if not .Approved}}
                    <form hx-ext='json-enc'
                          hx-post="/modifyTimesheetEntry"
                          hx-vals='js:{"adminView": true, "entryID":"{{ .ID }}", "staffID":"{{$staffID}}", "start-date":"{{$startDate}}"}'
                          hx-target="#approveTimesheets"
                          hx-swap='outerHTML'>
                      <div class="timesheetDay" id='entry-{{.ID}}'>
                        <label>{{ index $staffStringMap $staffID }}</label>
                        <div><input type="time" name="shiftStart" id="shiftStart-{{.ID}}"
                                    value="{{if .ShiftStart}}{{.ShiftStart.Format "15:04"}}{{end}}"
                                    required></div>
                        <div><input type="time" name="shiftEnd" id="shiftEnd-{{.ID}}"
                                    value="{{if .ShiftEnd}}{{.ShiftEnd.Format "15:04"}}{{end}}"
                                    required></div>
                        <div><input type="checkbox" name="hasBreak"
                             {{ if .HasBreak }}checked{{ end }}
                             hx-ext="json-enc" hx-post="/toggleTimesheetEntry"
                             hx-vals='js:{
                                      "adminView":true,
                                      "field":"hasBreak",
                                      "entryID":"{{ .ID }}",
                                      "staffID":"{{$staffID}}",
                                      "shiftStart":document.getElementById("shiftStart-{{.ID}}").value,
                                      "shiftEnd":document.getElementById("shiftEnd-{{.ID}}").value,
                                      "breakStart":document.getElementById("breakStart-{{.ID}}").value,
                                      "breakEnd":document.getElementById("breakEnd-{{.ID}}").value,
                                      "start-date":"{{$startDate}}"}'
                             hx-swap="outerHTML"
                             hx-target="#approveTimesheets">
                        </div>
                        <div><input type="time" name="breakStart" id="breakStart-{{.ID}}"
                                    value="{{if .BreakStart}}{{.BreakStart.Format "15:04"}}{{end}}"
                                    {{ if .HasBreak }}required
                                    {{ else }}disabled{{ end }}></div>
                        <div><input type="time" name="breakEnd" id="breakEnd-{{.ID}}"
                                    value="{{if .BreakEnd}}{{.BreakEnd.Format "15:04"}}{{end}}"
                                    {{ if .HasBreak }}required
                                    {{ else }}disabled{{ end }}></div>
                        <div class="break">{{.BreakLength}}</div>
                        <div class="total">{{.ShiftLength}}</div>
                        <div><input type="checkbox" name="managing"
                             {{ if .Managing }}checked{{ end }}
                             hx-ext="json-enc" hx-post="/toggleTimesheetEntry"
                             hx-vals='js:{
                                      "adminView":true,
                                      "field":"managing",
                                      "entryID":"{{ .ID }}",
                                      "staffID":"{{$staffID}}",
                                      "shiftStart":document.getElementById("shiftStart-{{.ID}}").value,
                                      "shiftEnd":document.getElementById("shiftEnd-{{.ID}}").value,
                                      "breakStart":document.getElementById("breakStart-{{.ID}}").value,
                                      "breakEnd":document.getElementById("breakEnd-{{.ID}}").value,
                                      "start-date":"{{$startDate}}"}'
                             hx-swap="outerHTML"
                             hx-target="#approveTimesheets">
                        </div>
                        <div><input type="checkbox" name="admin"
                             {{ if .Admin }}checked{{ end }}
                             hx-ext="json-enc" hx-post="/toggleTimesheetEntry"
                             hx-vals='js:{
                                      "adminView":true,
                                      "field":"admin",
                                      "entryID":"{{ .ID }}",
                                      "staffID":"{{$staffID}}",
                                      "shiftStart":document.getElementById("shiftStart-{{.ID}}").value,
                                      "shiftEnd":document.getElementById("shiftEnd-{{.ID}}").value,
                                      "breakStart":document.getElementById("breakStart-{{.ID}}").value,
                                      "breakEnd":document.getElementById("breakEnd-{{.ID}}").value,
                                      "start-date":"{{$startDate}}"}'
                             hx-swap="outerHTML"
                             hx-target="#approveTimesheets">
                        </div>
                        <div>
                          <a href="#" hx-ext="json-enc" hx-post="/deleteTimesheetEntry" hx-vals='js:{"adminView": true, "entryID":"{{ .ID }}", "staffID":"{{$staffID}}", "start-date":"{{$startDate}}"}' hx-swap="outerHTML" hx-target="#approveTimesheets">🗑</a>
                        </div>
                        <button
                          hx-ext="json-enc" hx-post="/toggleTimesheetEntry"
                          hx-vals='js:{
                                   "adminView":true,
                                   "field":"approved",
                                   "entryID":"{{ .ID }}",
                                   "staffID":"{{$staffID}}",
                                   "shiftStart":document.getElementById("shiftStart-{{.ID}}").value,
                                   "shiftEnd":document.getElementById("shiftEnd-{{.ID}}").value,
                                   "breakStart":document.getElementById("breakStart-{{.ID}}").value,
                                   "breakEnd":document.getElementById("breakEnd-{{.ID}}").value,
                                   "start-date":"{{$startDate}}"}'
                          hx-swap="outerHTML"
                          hx-target="#approveTimesheets">
                            Approve
                        </button>
                      </div>
                    </form>
                  {{ else if not $hideApproved }}
                    <div class="timesheetDay" id='entry-{{.ID}}'>
                        <label>{{ index $staffStringMap $staffID }}</label>
                        <label>{{if .ShiftStart}}{{.ShiftStart.Format "15:04"}}{{else}}-{{end}}</label>
                        <label>{{if .ShiftEnd}}{{.ShiftEnd.Format "15:04"}}{{else}}-{{end}}</label>
                        <input type="checkbox" disabled {{ if .HasBreak }}checked{{ end }}>
                        <label>{{if (and .HasBreak .BreakStart)}}{{.BreakStart.Format "15:04"}}{{else}}-{{end}}</label>
                        <label>{{if (and .HasBreak .BreakEnd)}}{{.BreakEnd.Format "15:04"}}{{else}}-{{end}}</label>
                        <label>{{.BreakLength}}</label>
                        <label>{{.ShiftLength}}</label>
                        <input type="checkbox" disabled {{ if .Managing }}checked{{ end }}>
                        <input type="checkbox" disabled {{ if .Admin }}checked{{ end }}>
                        <div>
                            <a href="#"
                               hx-ext="json-enc"
                               hx-post="/toggleTimesheetEntry"
                               hx-vals='js:{
                                        "adminView":true,
                                        "field":"approved",
                                        "entryID":"{{ .ID }}",
                                        "staffID":"{{$staffID}}",
                                        "shiftStart":"{{.ShiftStart}}",
                                        "shiftEnd":"{{.ShiftEnd}}",
                                        "breakStart":"{{.BreakStart}}",
                                        "breakEnd":"{{.BreakEnd}}",
                                        "start-date":"{{$startDate}}"}'
                               hx-swap="outerHTML"
                               hx-target="#approveTimesheets">✏️</a>
                        </div>
                    </div>
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </body>
</html>
{{ end }}


