{{ define "index" }}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <base href="/">
    <title>Retreat Roster</title>
    <link rel="stylesheet" href="app.css?v={{ .CacheBust }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/html2canvas"></script>
  </head>
  <body class="rootBody">
    {{ template "header" (MakeHeaderStruct .ActiveStaff.IsAdmin .IsLive) }}
    <div class="root" id="root" hx-get="/root" hx-trigger="load"></div>
  </body>
</html>
{{ end }}
