{{ define "profile" }}
<div id="profile">
  <div id="buttons">
  {{ if .IsAdmin }}
    <a href="/">Edit Roster</a>
  {{ else }}
    <a href="/" hx-ext='json-enc' hx-post="/deleteAcc" hx-vals='js:{"ID":"{{ .ID }}"}' hx-confirm="Are you sure you want to delete your account?">
        Delete Account
    </a>
  {{end}}
    <a href="#" hx-post="/auth/logout">Logout</a>
  </div>
  <section class="user-profile">
    <h1>Update Your Profile</h1>
    <form hx-ext='json-enc' hx-post="/modifyProfile" hx-swap="outerHTML" hx-target="#profile">
      <fieldset>
        <legend>Personal Information</legend>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" value="{{.FirstName}}" required>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" value="{{.LastName}}" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{.Email}}" required>
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" value="{{.Phone}}" required>
      </fieldset>
      <fieldset>
        <legend>Availability</legend>
        <label for="ideal-shifts">Ideal # shifts:</label>
        <select style="width:auto" name="ideal-shifts" id="ideal-shifts">
            <option value=1 {{ if eq .IdealShifts 1 }}selected{{ end }}>1</option>
            <option value=2 {{ if eq .IdealShifts 2 }}selected{{ end }}>2</option>
            <option value=3 {{ if eq .IdealShifts 3 }}selected{{ end }}>3</option>
            <option value=4 {{ if eq .IdealShifts 4 }}selected{{ end }}>4</option>
            <option value=5 {{ if eq .IdealShifts 5 }}selected{{ end }}>5</option>
            <option value=6 {{ if eq .IdealShifts 6 }}selected{{ end }}>6</option>
            <option value=7 {{ if eq .IdealShifts 7 }}selected{{ end }}>7</option>
        </select>
        {{ range .Availability }}
        <div class="availability">
          <span>{{ .Name }}</span>
          <label><input type="checkbox" name="{{.Name}}-early-avail" id="{{.Name}}-early-avail" {{ if .Early }}checked{{ end }}> Early</label>
          <label><input type="checkbox" name="{{.Name}}-mid-avail" id="{{.Name}}-mid-avail" {{ if .Mid }}checked{{ end }}> Mid</label>
          <label><input type="checkbox" name="{{.Name}}-late-avail" id="{{.Name}}-late-avail" {{ if .Late }}checked{{ end }}> Late</label>
        </div>
        {{ end }}
      </fieldset>
      <button type="submit">Save Changes</button>
      {{if .ShowUpdateSuccess }}
      <div id="success-message">Success!</div>
      {{end}}
      {{if .ShowUpdateError }}
      <div id="success-message">Error!</div>
      {{end}}
    </form>
  </section>
  <section class="timeoff">
    <h1>Request Time off</h1>
    <form hx-ext='json-enc' hx-post="/submitLeave" hx-swap="outerHTML" hx-target="#profile">
      <fieldset>
        <legend>Submit Leave Request</legend>
        <label for="reason">Reason for leave:</label>
        <input type="text" id="reason" name="reason" required>
        <label for="start-date">First date you will be unavailable:</label>
        <input type="date" id="start-date" name="start-date" required>
        <label for="end-date">First date you will available to work:</label>
        <input type="date" id="end-date" name="end-date" required>
      </fieldset>
      <button type="submit">Submit leave request</button>
      {{if .ShowLeaveSuccess }}
      <div id="leave-success-message">Success!</div>
      {{end}}
      {{if .ShowLeaveError }}
      <div id="leave-success-message">Invalid dates!</div>
      {{end}}
    </form>
  </section>

  {{ range .LeaveRequests }}
  <div class="leave-request-row">
    <!-- Displaying Reason -->
    <div class="leave-reason">Reason: {{ .Reason }}</div>

    <!-- Displaying StartDate -->
    <div class="leave-start-date">First date unavailable: {{ .StartDate.Format "Jan 2, 2006" }}</div>

    <!-- Displaying EndDate -->
    <div class="leave-end-date">First date back: {{ .EndDate.Format "Jan 2, 2006" }}</div>

    <!-- Delete icon with hx-post -->
    <a href="#" hx-ext="json-enc" class="delete-icon" hx-post="/deleteLeaveReq" hx-vals='js:{"id":"{{ .ID }}"}' hx-swap="outerHTML" hx-target="#profile">🗑</a>
  </div>
  {{ end }}
</div>
{{ end }}
