{{ define "rosterDayLocked" }}
<div id='d-{{.ID}}' class="day" style='background-color: {{.Colour}};'>
  {{ $dayName := .DayName }}
  {{ $dayID := .ID }}
  {{ $date := .Date }}
  {{ $isClosed := .IsClosed }}
  {{ $ameliaOpen := .AmeliaOpen }}
  {{range $index, $row := .Rows}}
    {{ if and $isClosed (gt $index 3) }}
    {{ else }}
      <div class="row">
        <div class="rosterCell dayCell">
          {{if eq $index 0}}
          {{$dayName}}
          {{else if eq $index 1}}
          {{$date.Format "02/01"}}
          {{else if and (eq $index 2) $isClosed}}
            CLOSED
          {{ else if and (not $isClosed) $ameliaOpen }}
            {{if $row.Amelia.AssignedStaff}}
              <div class="ameliaCell"><p>A/S {{$row.Amelia.StaffString}}</p> </div>
            {{end}}
          {{end}}
        </div>
        {{ if $isClosed }}
          <div class="rosterCell timeCell">&nbsp;</div>
          <div class="rosterCell staffCell"></div>
          <div class="rosterCell flagCell"></div>
          <div class="rosterCell timeCell"></div>
          <div class="rosterCell staffCell"></div>
          <div class="rosterCell flagCell"></div>
          <div class="rosterCell timeCell"></div>
          <div class="rosterCell staffCell"></div>
          <div class="rosterCell flagCell"></div>
        {{ else }}
          <div class="rosterCell timeCell">{{$row.Early.StartTime}}</div>
          <div class="rosterCell staffCell">{{ if $row.Early.AssignedStaff}} {{$row.Early.StaffString}} {{else}}&nbsp;{{end}}</div>
          <div class="rosterCell flagCell">{{$row.Early.Description}}</div>

          <div class="rosterCell timeCell">{{$row.Mid.StartTime}}</div>
          <div class="rosterCell staffCell">{{ if $row.Mid.AssignedStaff}} {{$row.Mid.StaffString}} {{else}}&nbsp;{{end}}</div>
          <div class="rosterCell flagCell">{{$row.Mid.Description}}</div>

          <div class="rosterCell timeCell">{{$row.Late.StartTime}}</div>
          <div class="rosterCell staffCell">{{ if $row.Late.AssignedStaff}} {{$row.Late.StaffString}} {{else}}&nbsp;{{end}}</div>
          <div class="rosterCell flagCell">{{$row.Late.Description}}</div>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</div>
{{end}}

