{{ define "rosterDayLocked" }}
<div id='d-{{.ID}}' class="day" style='background-color: {{.Colour}};'>
	{{ $dayName := .DayName }}
	{{ $dayID := .ID }}
	{{ $date := .Date }}
	{{ $isClosed := .IsClosed }}
	{{ $ameliaOpen := .AmeliaOpen }}
	{{ $activeStaff := .ActiveStaff }}
	{{range $index, $row := .Rows}}
	{{ if and $isClosed (gt $index 3) }}
	{{ else }}
	<div class="row">
		{{if eq $index 0}}
		<div class="rosterCell dayCell">
			{{$dayName}}
		</div>
		{{else if eq $index 1}}
		<div class="rosterCell dayCell">
			{{$date.Format "02/01"}}
		</div>
		{{else if (eq $index 2)}}
		{{if $isClosed}}
		<div class="rosterCell dayCell">
			CLOSED
		</div>
		{{else if $ameliaOpen}}
		<div class="rosterCell dayCell">
			A/S
		</div>
		{{else}}
		<div class="rosterCell dayCell">&nbsp;</div>
		{{end}}
		{{ else if and (not $isClosed) $ameliaOpen }}
		{{ if $row.Amelia.AssignedStaff}}
		<div class="rosterCell ameliaCell {{if (MemberIsAssigned $activeStaff.ID $row.Amelia.AssignedStaff)}}shiftHighlight{{end}}">
			{{$row.Amelia.StaffString}}
		</div>
		{{ else }}
		<div class="rosterCell ameliaCell">&nbsp;</div>
		{{ end }}
		{{else}}
		<div class="rosterCell dayCell">&nbsp;</div>
		{{end}}
		{{ if $isClosed }}
		<div class="rosterCell timeCell">&nbsp;</div>
		<div class="rosterCell staffCell"></div>
		<div class="rosterCell flagCell"></div>
		<div class="rosterCell timeCell"></div>
		<div class="rosterCell staffCell"></div>
		<div class="rosterCell flagCell"></div>
		<div class="rosterCell timeCell"></div>
		<div class="rosterCell staffCell"></div>
		<div class="rosterCell flagCell"></div>
		{{ else }}
		<div class="rosterCell timeCell">{{$row.Early.StartTime}}</div>
		{{ if $row.Early.AssignedStaff}}
		<div class="rosterCell staffCell {{if (MemberIsAssigned $activeStaff.ID $row.Early.AssignedStaff)}}shiftHighlight{{end}}">
			{{$row.Early.StaffString}}
		</div>
		{{ else }}
		<div class="rosterCell staffCell">&nbsp;</div>
		{{ end }}
		<div class="rosterCell flagCell">{{$row.Early.Description}}</div>

		<div class="rosterCell timeCell">{{$row.Mid.StartTime}}</div>
		{{ if $row.Mid.AssignedStaff}}
		<div class="rosterCell staffCell {{if (MemberIsAssigned $activeStaff.ID $row.Mid.AssignedStaff)}}shiftHighlight{{end}}">
			{{$row.Mid.StaffString}}
		</div>
		{{ else }}
		<div class="rosterCell staffCell">&nbsp;</div>
		{{ end }}
		<div class="rosterCell flagCell">{{$row.Mid.Description}}</div>

		<div class="rosterCell timeCell">{{$row.Late.StartTime}}</div>
		{{ if $row.Late.AssignedStaff}}
		<div class="rosterCell staffCell {{if (MemberIsAssigned $activeStaff.ID $row.Late.AssignedStaff)}}shiftHighlight{{end}}">
			{{$row.Late.StaffString}}
		</div>
		{{ else }}
		<div class="rosterCell staffCell">&nbsp;</div>
		{{ end }}
		<div class="rosterCell flagCell">{{$row.Late.Description}}</div>
		{{ end }}
	</div>
	{{ end }}
	{{ end }}
</div>
{{end}}

