{{ define "timesheetEntry" }}
{{ $isAdmin := and .IsAdmin }}
{{ $showAll := and .ShowAll .IsAdmin }}
{{ $thisStaff := (index .StaffMap .ThisStaffID) }}
{{ $isThisStaff := eq .ThisStaffID .StaffID }}
{{ $canEdit := and (not .Approved) (or $showAll $isThisStaff) }}
{{ $canView := and .Approved (or $showAll $isThisStaff) }}
<script>
	flatpickr(".timePicker", {
			enableTime: true,
			noCalendar: true,
			dateFormat: "h:i K",
			minuteIncrement: 15
	});
</script>

{{ if $canEdit }}
<div class="timesheetDay" id='entry-{{.ID}}'>
	<form hx-ext="json-enc" hx-swap="outerHTML" hx-target="#timesheet"
		hx-post="/modifyTimesheetEntry"
		hx-vals='js:{"entryID":"{{ .ID }}", "approved": true}'>
		<div class="timesheetEl">
			{{ if not $isAdmin }}
			<label>{{(or $thisStaff.NickName $thisStaff.FirstName)}}</label>
			<input type="hidden" name="staffID" value="{{$thisStaff.ID}}" />
			{{ else }}
			<select name="staffID"
				hx-post="/modifyTimesheetEntry"
				hx-vals='js:{"approved": {{.Approved}}}'>
				{{ range $staffID, $member := .StaffMap }}
				<option value={{$staffID}} {{ if eq $staffID $thisStaff.ID }}selected{{ end }}>{{(or $member.NickName $member.FirstName)}}</option>
				{{ end }}
			</select>
			{{ end }}
		</div>
		<div class="timesheetEl">
			<select name="shiftType"
				hx-post="/modifyTimesheetEntry"
				hx-vals='js:{"approved": {{.Approved}}}'>
				{{ $shiftType := .ShiftType }}
				{{ range $st := GetAllShiftTypes }}
					{{ if (or $isAdmin (lt $st AdminShiftTypeStart)) }}
						<option value={{ $st.Int }} {{ if eq $shiftType $st }}selected{{ end }}>
							{{ $st.String }}
						</option>
					{{ end }}
				{{ end }}
			</select>
		</div>
		<div class="timesheetEl doubleCol">
			<label>Start</label>
			<input type="time" name="shiftStart" id="shiftStart-{{.ID}}"
				hx-post="/modifyTimesheetEntry"
				hx-vals='js:{"approved": {{.Approved}}}'
				value="{{.ShiftStart.Format "15:04"}}"
				required>
			<label>End</label>
			<input type="time" name="shiftEnd" id="shiftEnd-{{.ID}}"
				hx-post="/modifyTimesheetEntry"
				hx-vals='js:{"approved": {{.Approved}}}'
				value="{{.ShiftEnd.Format "15:04"}}"
				required>
		</div>
		<div class="timesheetEl doubleCol">
			<label>Start</label>
			<input type="time" name="breakStart" id="breakStart-{{.ID}}"
				hx-post="/modifyTimesheetEntry"
				hx-vals='js:{"approved": {{.Approved}}}'
				value="{{if .BreakStart}}{{.BreakStart.Format "15:04"}}{{end}}"
				{{ if .BreakEnd }}required{{ end }}>
			<label>End</label>
			<input type="time" name="breakEnd" id="breakEnd-{{.ID}}"
				hx-post="/modifyTimesheetEntry"
				hx-vals='js:{"approved": {{.Approved}}}'
				value="{{if .BreakEnd}}{{.BreakEnd.Format "15:04"}}{{end}}"
				{{ if .BreakStart}}required{{ end }}>
		</div>
		<div class="timesheetEl splitCol">
			<label>Break</label>
			<label class="timesheetEl">{{.BreakLength}} hrs</label>
			<label>Shift</label>
			<label class="timesheetEl">{{.ShiftLength}} hrs</label>
		</div>
		<div class="actions">
			<button type="button"
				class="actionBtn"
				hx-ext="json-enc"
				hx-post="/deleteTimesheetEntry"
				hx-vals='js:{"entryID":"{{ .ID }}", "staffID":"{{$thisStaff.ID}}"}'
				hx-swap="outerHTML"
				hx-confirm="Are you sure you want to delete this entry?"
				hx-target="#timesheet">
				Delete
			</button>
			{{ if $isAdmin }}
			<button class="actionBtn" type="submit">
				Approve
			</button>
			{{end}}
		</div>
	</form>
</div>
{{ else if $canView }}
<div class="timesheetDay" id='entry-{{.ID}}'>
	<label class="timesheetEl">{{if $thisStaff.NickName}}{{$thisStaff.NickName}}{{else}}{{$thisStaff.FirstName}}{{end}}</label>
	<div class="timesheetEl">
		<select disabled>
			{{ $shiftType := .ShiftType }}
			{{ range $st := GetAllShiftTypes }}
				{{ if (or $isAdmin (lt $st AdminShiftTypeStart)) }}
					<option value={{ $st.Int }} {{ if eq $shiftType $st }}selected{{ end }}>
						{{ $st.String }}
					</option>
				{{ end }}
			{{ end }}
		</select>
	</div>
	<div class="timesheetEl doubleCol">
		<label>Start</label>
		<label>{{if .ShiftStart}}{{.ShiftStart.Format "3:04PM"}}{{else}}-{{end}}</label>
		<label>End</label>
		<label>{{if .ShiftEnd}}{{.ShiftEnd.Format "3:04PM"}}{{else}}-{{end}}</label>
	</div>
	<div class="timesheetEl doubleCol">
		<label>Start</label>
		<label>{{if (and .BreakStart)}}{{.BreakStart.Format "3:04PM"}}{{else}}-{{end}}</label>
		<label>End</label>
		<label>{{if (and .BreakEnd)}}{{.BreakEnd.Format "3:04PM"}}{{else}}-{{end}}</label>
	</div>
	<div class="timesheetEl splitCol">
		<label>Break</label>
		<label class="timesheetEl">{{.BreakLength}}</label>
		<label>Shift</label>
		<label class="timesheetEl">{{.ShiftLength}}</label>
	</div>
	{{ if (and $isAdmin .Approved) }}
	<div class="actions">
		<button type="button"
			class="actionBtn"
			hx-ext="json-enc"
			hx-post="/modifyTimesheetEntry"
			hx-vals='js:{
			"entryID":"{{ .ID }}",
			"staffID":"{{$thisStaff.ID}}",
			"shiftStart":"{{.ShiftStart}}",
			"shiftEnd":"{{.ShiftEnd}}",
			"breakStart":"{{.BreakStart}}",
			"breakEnd":"{{.BreakEnd}}",
			"approved": false}'
			hx-swap="outerHTML"
			hx-target="#timesheet">
			Edit
		</button>
	</div>
	{{ end }}
</div>
{{ end }}
{{ end }}
