{{ define "timesheet" }}
{{ $staffMember := .StaffMember }}
{{ $startDate := .StartDate }}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <base href="/">
    <title>Retreat Roster</title>
    <link rel="stylesheet" href="app.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  </head>
  <body id="timesheet" class="timesheetBody">
    <div class="buttons" id="buttons">
    {{ if $staffMember.IsAdmin }}
      <a href="/">Edit Roster</a>
    {{ else }}
      {{ if .RosterLive }}
      <a href="/">View Roster</a>
      {{end}}
    {{end}}
      <a href="/profile">Edit Profile</a>
      <a href="/approveTimesheets">Approve Timesheets</a>
      <a href="#" hx-post="/auth/logout">Logout</a>
    </div>
    <div class="timesheet">
      <div>
        <button hx-post='/shiftTimesheetWindow' hx-ext='json-enc' hx-vals='js:{"action":"-"}' hx-swap='outerHTML' hx-target='#timesheet'>-</button>
        <button hx-post='/shiftTimesheetWindow' hx-ext='json-enc' hx-vals='js:{"action":"0"}' hx-swap='outerHTML' hx-target='#timesheet'>This Week</button>
        <button hx-post='/shiftTimesheetWindow' hx-ext='json-enc' hx-vals='js:{"action":"+"}' hx-swap='outerHTML' hx-target='#timesheet'>+</button>
      </div>
      <div class="week-form">
        <div class="timesheetDay day-header">
          <div>Shift Start</div>
          <div>Shift Stop</div>
          <div>Break?</div>
          <div>Break Start</div>
          <div>Break Stop</div>
          <div>Break Length</div>
          <div>Total</div>
          <div>Managing</div>
          <div>Admin</div>
          <div>Delete</div>
        </div>
        {{ range .Days }}
          {{ $dayName := .DayName }}
          <div>
            <h2>{{$dayName}}</h2>
            <button hx-post='/addTimesheetEntry' hx-ext='json-enc' hx-vals='js:{"staffID":"{{ $staffMember.ID }}", "dayID":"{{.ID}}", "start-date":"{{$startDate}}"}' hx-swap='outerHTML' hx-target='#timesheet'>+</button>
          </div>
          {{ range .Entries }}
            {{ if not .Complete}}
              <form hx-ext='json-enc'
                    hx-post="/modifyTimesheetEntry"
                    hx-vals='js:{"entryID":"{{ .ID }}", "staffID":"{{$staffMember.ID}}", "start-date":"{{$startDate}}"}'
                    hx-target="#timesheet"
                    hx-swap='outerHTML'>
                <div class="timesheetDay" id='entry-{{.ID}}'>
                  <div><input type="time" name="shiftStart" id="shiftStart-{{.ID}}"
                              value="{{if .ShiftStart}}{{.ShiftStart.Format "15:04"}}{{end}}"
                              required></div>
                  <div><input type="time" name="shiftEnd" id="shiftEnd-{{.ID}}"
                              value="{{if .ShiftEnd}}{{.ShiftEnd.Format "15:04"}}{{end}}"
                              required></div>
                  <div><input type="checkbox" name="hasBreak"
                       {{ if .HasBreak }}checked{{ end }}
                       hx-ext="json-enc" hx-post="/toggleTimesheetEntry"
                       hx-vals='js:{
                                "field":"hasBreak",
                                "entryID":"{{ .ID }}",
                                "staffID":"{{$staffMember.ID}}",
                                "shiftStart":document.getElementById("shiftStart-{{.ID}}").value,
                                "shiftEnd":document.getElementById("shiftEnd-{{.ID}}").value,
                                "breakStart":document.getElementById("breakStart-{{.ID}}").value,
                                "breakEnd":document.getElementById("breakEnd-{{.ID}}").value,
                                "start-date":"{{$startDate}}"}'
                       hx-swap="outerHTML"
                       hx-target="#timesheet">
                  </div>
                  <div><input type="time" name="breakStart" id="breakStart-{{.ID}}"
                              value="{{if .BreakStart}}{{.BreakStart.Format "15:04"}}{{end}}"
                              {{ if .HasBreak }}required
                              {{ else }}disabled{{ end }}></div>
                  <div><input type="time" name="breakEnd" id="breakEnd-{{.ID}}"
                              value="{{if .BreakEnd}}{{.BreakEnd.Format "15:04"}}{{end}}"
                              {{ if .HasBreak }}required
                              {{ else }}disabled{{ end }}></div>
                  <div class="break">{{.BreakLength}}</div>
                  <div class="total">{{.ShiftLength}}</div>
                  <div><input type="checkbox" name="managing"
                       {{ if .Managing }}checked{{ end }}
                       hx-ext="json-enc" hx-post="/toggleTimesheetEntry"
                       hx-vals='js:{
                                "field":"managing",
                                "entryID":"{{ .ID }}",
                                "staffID":"{{$staffMember.ID}}",
                                "shiftStart":document.getElementById("shiftStart-{{.ID}}").value,
                                "shiftEnd":document.getElementById("shiftEnd-{{.ID}}").value,
                                "breakStart":document.getElementById("breakStart-{{.ID}}").value,
                                "breakEnd":document.getElementById("breakEnd-{{.ID}}").value,
                                "start-date":"{{$startDate}}"}'
                       hx-swap="outerHTML"
                       hx-target="#timesheet">
                  </div>
                  <div><input type="checkbox" name="admin"
                       {{ if .Admin }}checked{{ end }}
                       hx-ext="json-enc" hx-post="/toggleTimesheetEntry"
                       hx-vals='js:{
                                "field":"admin",
                                "entryID":"{{ .ID }}",
                                "staffID":"{{$staffMember.ID}}",
                                "shiftStart":document.getElementById("shiftStart-{{.ID}}").value,
                                "shiftEnd":document.getElementById("shiftEnd-{{.ID}}").value,
                                "breakStart":document.getElementById("breakStart-{{.ID}}").value,
                                "breakEnd":document.getElementById("breakEnd-{{.ID}}").value,
                                "start-date":"{{$startDate}}"}'
                       hx-swap="outerHTML"
                       hx-target="#timesheet">
                  </div>
                  <div>
                    <a href="#" hx-ext="json-enc" hx-post="/deleteTimesheetEntry" hx-vals='js:{"entryID":"{{ .ID }}", "staffID":"{{$staffMember.ID}}", "start-date":"{{$startDate}}"}' hx-swap="outerHTML" hx-target="#timesheet">🗑</a>
                  </div>
                  <button type="submit">Submit</button>
                </div>
              </form>
            {{ else }}
              <div class="timesheetDay" id='entry-{{.ID}}'>
                  <label>{{if .ShiftStart}}{{.ShiftStart.Format "15:04"}}{{else}}-{{end}}</label>
                  <label>{{if .ShiftEnd}}{{.ShiftEnd.Format "15:04"}}{{else}}-{{end}}</label>
                  <input type="checkbox" disabled {{ if .HasBreak }}checked{{ end }}>
                  <label>{{if (and .HasBreak .BreakStart)}}{{.BreakStart.Format "15:04"}}{{else}}-{{end}}</label>
                  <label>{{if (and .HasBreak .BreakEnd)}}{{.BreakEnd.Format "15:04"}}{{else}}-{{end}}</label>
                  <label>{{.BreakLength}}</label>
                  <label>{{.ShiftLength}}</label>
                  <input type="checkbox" disabled {{ if .Managing }}checked{{ end }}>
                  <input type="checkbox" disabled {{ if .Admin }}checked{{ end }}>
                  <div>
                      <a href="#"
                         hx-ext="json-enc"
                         hx-post="/toggleTimesheetEntry"
                         hx-vals='js:{
                                  "field":"complete",
                                  "entryID":"{{ .ID }}",
                                  "staffID":"{{$staffMember.ID}}",
                                  "shiftStart":"{{.ShiftStart}}",
                                  "shiftEnd":"{{.ShiftEnd}}",
                                  "breakStart":"{{.BreakStart}}",
                                  "breakEnd":"{{.BreakEnd}}",
                                  "start-date":"{{$startDate}}"}'
                         hx-swap="outerHTML"
                         hx-target="#timesheet">✏️</a>
                  </div>
              </div>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </body>
</html>
{{ end }}

