{{ define "timesheetEntry" }}
{{ if not .Complete}}
  <form hx-ext="json-enc" hx-swap="outerHTML" hx-target="#timesheet"
        hx-vals='{"entryID":"{{ .ID }}", "staffID":"{{.StaffMember.ID}}", "start-date":"{{.StartDate}}"}'>
    <div class="timesheetDay" id='entry-{{.ID}}'>
      <div>
        <input type="time" name="shiftStart" id="shiftStart-{{.ID}}"
               hx-post="/modifyTimesheetEntry"
               value="{{if .ShiftStart}}{{.ShiftStart.Format "15:04"}}{{end}}"
               required>
      </div>
      <div>
        <input type="time" name="shiftEnd" id="shiftEnd-{{.ID}}"
               hx-post="/modifyTimesheetEntry"
               value="{{if .ShiftEnd}}{{.ShiftEnd.Format "15:04"}}{{end}}"
               required>
      </div>
      <div>
        <input type="checkbox" name="hasBreak" id="hasBreak-{{.ID}}"
               hx-post="/modifyTimesheetEntry"
               {{ if .HasBreak }}checked{{ end }}>
      </div>
      <div>
        <input type="time" name="breakStart" id="breakStart-{{.ID}}"
               hx-post="/modifyTimesheetEntry"
               value="{{if .BreakStart}}{{.BreakStart.Format "15:04"}}{{end}}"
               {{ if .HasBreak }}required
               {{ else }}disabled{{ end }}>
      </div>
      <div>
        <input type="time" name="breakEnd" id="breakEnd-{{.ID}}"
               hx-post="/modifyTimesheetEntry"
               value="{{if .BreakEnd}}{{.BreakEnd.Format "15:04"}}{{end}}"
               {{ if .HasBreak }}required
               {{ else }}disabled{{ end }}>
      </div>
      <div class="break">{{.BreakLength}}</div>
      <div class="total">{{.ShiftLength}}</div>
      <div>
        <input type="checkbox" name="managing" id="managing-{{.ID}}"
               hx-post="/modifyTimesheetEntry"
               {{ if .Managing }}checked{{ end }}>
      </div>
      <div>
        <input type="checkbox" name="admin" id="admin-{{.ID}}"
               hx-post="/modifyTimesheetEntry"
               {{ if .Admin }}checked{{ end }}>
      </div>
      <div>
        <a href="#" hx-ext="json-enc" hx-post="/deleteTimesheetEntry"
                    hx-vals='js:{"entryID":"{{ .ID }}", "staffID":"{{.StaffMember.ID}}", "start-date":"{{.StartDate}}"}'
                    hx-swap="outerHTML" hx-target="#timesheet">🗑</a>
      </div>
      <button hx-vals='{"complete": true}'
              hx-post="/modifyTimesheetEntry">
        Submit
      </button>
    </div>
  </form>
{{ else }}
  <div class="timesheetDay" id='entry-{{.ID}}'>
      <label>{{if .ShiftStart}}{{.ShiftStart.Format "15:04"}}{{else}}-{{end}}</label>
      <label>{{if .ShiftEnd}}{{.ShiftEnd.Format "15:04"}}{{else}}-{{end}}</label>
      <input type="checkbox" disabled {{ if .HasBreak }}checked{{ end }}>
      <label>{{if (and .HasBreak .BreakStart)}}{{.BreakStart.Format "15:04"}}{{else}}-{{end}}</label>
      <label>{{if (and .HasBreak .BreakEnd)}}{{.BreakEnd.Format "15:04"}}{{else}}-{{end}}</label>
      <label>{{.BreakLength}}</label>
      <label>{{.ShiftLength}}</label>
      <input type="checkbox" disabled {{ if .Managing }}checked{{ end }}>
      <input type="checkbox" disabled {{ if .Admin }}checked{{ end }}>
      <div>
        <a href="#"
           hx-ext="json-enc" hx-post="/modifyTimesheetEntry"
           hx-vals='js:{
                    "entryID":"{{ .ID }}",
                    "staffID":"{{.StaffMember.ID}}",
                    "shiftStart":"{{.ShiftStart}}",
                    "shiftEnd":"{{.ShiftEnd}}",
                    "breakStart":"{{.BreakStart}}",
                    "breakEnd":"{{.BreakEnd}}",
                    "managing":{{if .Managing}}"on"{{else}}""{{end}},
                    "admin":{{if .Admin}}"on"{{else}}""{{end}},
                    "hasBreak":{{if .HasBreak}}"on"{{else}}""{{end}},
                    "complete":false,
                    "start-date":"{{.StartDate}}"}'
           hx-swap="outerHTML"
           hx-target="#timesheet">✏️</a>
      </div>
  </div>
{{ end }}
{{ end }}
