{{ define "timesheet" }}
{{ $staffMember := .StaffMember }}
{{ $staffTimesheets := .StaffTimesheets }}
{{ $startDate := .StartDate }}
{{ $approvalMode := .ApprovalMode }}
{{ $adminView := and .ApprovalMode .StaffMember.IsAdmin }}
{{ $staffStringMap := .StaffStringMap }}
{{ $hideApproved := .HideApproved }}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <base href="/">
    <title>Retreat Roster</title>
    <link rel="stylesheet" href="app.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  </head>
  <body id="timesheet" class="timesheetBody">
    {{ template "header" (MakeHeaderStruct $staffMember.IsAdmin .RosterLive) }}
    {{ if $staffMember.IsAdmin }}
      <div class="buttons" id="filters">
        <label>
          <input type="checkbox" {{ if .ApprovalMode }}checked{{ end }}
            hx-get="/toggleApprovalMode"
            hx-target="#timesheet"
            hx-swap='outerHTML'>
            Approval mode
        </label>
        <label>
          <input type="checkbox" {{ if .HideApproved }}checked{{ end }}
            hx-get="/toggleHideApproved"
            hx-target="#timesheet"
            hx-trigger="change"
            hx-swap='outerHTML'>
            Hide approved
        </label>
      </div>
    {{ end }}
    <div class="timesheet">
      <div>
        <button hx-post='/shiftTimesheetWindow' hx-ext='json-enc' hx-vals='js:{"action":"-"}' hx-swap='outerHTML' hx-target='#timesheet'>-</button>
        <button hx-post='/shiftTimesheetWindow' hx-ext='json-enc' hx-vals='js:{"action":"0"}' hx-swap='outerHTML' hx-target='#timesheet'>This Week</button>
        <button hx-post='/shiftTimesheetWindow' hx-ext='json-enc' hx-vals='js:{"action":"+"}' hx-swap='outerHTML' hx-target='#timesheet'>+</button>
      </div>
      <div class="week-form">
        <div class="timesheetDay day-header">
          <div>Staff</div>
          <div>Shift Start</div>
          <div>Shift Stop</div>
          <div>Break?</div>
          <div>Break Start</div>
          <div>Break Stop</div>
          <div>Break Length</div>
          <div>Total</div>
          <div>Role</div>
          <div>Action</div>
        </div>
        {{ range $idx, $dayName := .DayNames }}
          <div class="day-name">
            {{ if not $adminView }}
              <button class="add-entry-btn"
                      hx-post='/addTimesheetEntry' hx-ext='json-enc'
                      hx-vals='js:{"staffID":"{{ $staffMember.ID }}", "dayIdx":{{$idx}}, "start-date":"{{$startDate}}"}'
                      hx-swap='outerHTML' hx-target='#timesheet'>+</button>
            {{ end }}
            <h3>{{$dayName}}</h3>
          </div>
          {{ range $staffID, $week := $staffTimesheets }}
            {{ $day := index $week.Days $idx }}
            {{ if not $approvalMode }}
              {{ if (eq $staffID $staffMember.ID) }}
                {{ range $day.Entries }}
                  {{ template "timesheetEntry" (MakeTimesheetEntryStruct . $staffMember $startDate $approvalMode) }}
                {{ end }}
              {{ end }}
            {{ else }}
              {{ range $day.Entries }}
                {{ if not (and (eq .Status 2) $hideApproved)}}
                  {{ template "timesheetEntry" (MakeTimesheetEntryStruct . $staffMember $startDate $approvalMode) }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </body>
</html>
{{ end }}
